# Переменные и работа с ними - лекция 2

Инициализация переменных - способ создания информации внутри программного кода. 


Переменные бывают типов: string, int, float, bool

Чтобы узнать тип переменной в коде достаточно вызвать функцию **type(value)**, гду value - переменная

In [1]:
intVal = 9
stringVal = "Devyat"
floatVal = 9.0
boolVal = True

In [10]:
print(
"1 - {0} - {1} \n".format(intVal, type(intVal))+
"2 - {0} - {1} \n".format(stringVal, type(stringVal)) +
"3 - {0} - {1} \n".format(floatVal, type(floatVal)) +
"4 - {0} - {1}".format(boolVal, type(boolVal))
)

1 - 9 - <class 'int'>
2 - Devyat - <class 'str'>
3 - 9.0 - <class 'float'>
4 - True - <class 'bool'>

Чаще всего пременные будут задаваться не в коде. С помощью **input("sample text")** можно приостановить программу для ожидания от пользователя ввода значения.

In [38]:
newVal = input("Введите значение: \n")
print(newVal, type(newVal))

Введите значение:
9.5
9.5 <class 'str'>

Мы ввели в прошлом примере 9 как число, однако Python определил переменную newVal как строку. Это произошло потому, что **input()** возвращает строковый тип данных. 
Мы можем манипулировать типами данных при помощи функций приведений: **int(value), float(value), bool(value), str(value)**

In [41]:
value = input("Сейчас все что вы введете - будет строкой. \n")
print("Значение - {0} Тип - {1} \n".format(value, type(value)))


value = int(value)
print("Значение - {0} Тип - {1} \n".format(value, type(value)))

value = float(value)
print("Значение - {0} Тип - {1} \n".format(value, type(value)))

value = str(value)
print("Значение - {0} Тип - {1} \n".format(value, type(value)))

value = bool(value)
print("Значение - {0} Тип - {1} \n".format(value, type(value)))

Сейчас все что вы введете - будет строкой.
0
Значение - 0 Тип - <class 'str'>

Значение - 0 Тип - <class 'int'>

Значение - 0.0 Тип - <class 'float'>

Значение - 0.0 Тип - <class 'str'>

Значение - True Тип - <class 'bool'>

Приведение типов необходимо для работы с данными. Например мы должны обработать числовые данные, которые получаем из строки. Перед их обработкой мы приведем их в тип числовой. Например решим простую задачу. 

**Получим от пользователя количество однотипных товаров их стоимость и скидку пользователя в этом магазине. Вычислить полную стоимость покупки.**

In [5]:
price = float(input()) #приведем к float, так как цена может быть не целым числом
count = int(input()) #приведем к int, так как количество всегда целое число
discount = float(input()) #приведем к float, так как скидки 
# первая часть под получение данных и предобработку.

500
20
13.2

In [8]:
summ = (1-discount/100)*price*count
# вторая часть кода - обработка данных
print("Сумма {0} предметов по {1} каждый - {2}".format(count,price, summ))
# последняя часть кода - отображение

Сумма 20 предметов по 500.0 каждый - 8680.0

С числовым типом int и float можно совершать математические манипуляции: +,-,*,/,//,%

Если подключать дополнительные библиотеки, например math, станут доступны sqr, sqrt и подобные функции

Строковый переменные - являются "коллекциями" символьного типа. Означает, что строки поддерживают индексацию.

In [43]:
stringVal = "this is new string"
print(
    stringVal[0], "\n"+
    stringVal[0:7], "\n"+
    stringVal[0:10:2], "\n"
)

t
this is
ti sn

Подсчет массивов от 0 упрощает вычисление адреса памяти каждого элемента.

Если массив хранится в данной позиции в памяти (это называется адресом), позиция каждого элемента может быть вычислена как 

**element(n) = address + n * size_of_the_element**

Если вы считаете первый элемент первым, вычисление становится

**element(n) = address + (n-1) * size_of_the_element**

Cтроки часто становятся выводом информации. Поэтому доступен форматированный вывод:

In [16]:
name = "Kate"
age = 22
city = "Moscow"
print("Hello, my name {0}, i'm {1} y.o. from {2}".format(name,age,city))

Hello, my name Kate, i'm 22 y.o. from Moscow

Строки так-же поддерживают простые арифметические действия. 

Конкатинация строк - **"tt" + "uu" = "ttuu"**

In [18]:
multiply = "hi" * 5
print(multiply)

hihihihihi

Написание мультистрок:

In [45]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

У любой строки есть длина, которую можно определить с помощью функции **len(stringVal)**

In [21]:
dlina = len(a)
print(dlina)

123

Мы можем проверить, содержит ли строка подстроку:

In [47]:
string = "alladin"
substring = "all"

if substring in string:
    print("Yes!")
else: 
    print("No!")

Yes!

Как и с любой коллекцией мы можем организовать итерационный цикл, это цикл, который содержит итерацию

In [30]:
i=-1
for element in string:
    i= i+1
    print("element's number {0} is {1}".format(element, i))

element's number a is 0
element's number l is 1
element's number l is 2
element's number a is 3
element's number d is 4
element's number i is 5
element's number n is 6

Строку можно рассплитить с помощью **.split("splitter")**

In [34]:
string = "8 La plgg io la ni yt"
buff = string.split(" ")
print(buff, type(buff[0]))

['8', 'La', 'plgg', 'io', 'la', 'ni', 'yt'] <class 'str'>

In [53]:
a = "5i"
a.isdigit()

False

In [55]:
a = "67 b uiui 90uu 5i ui"
digit = ""
notdigit = ""

for i in a:
    if i.isdigit():
        digit = digit + i
    else:
        notdigit = notdigit +i
        
print(digit + "\n" + notdigit)

67905
 b uiui uu i ui

# Задача:

Вводится строка, выписать в две новые строки только числа и только буквы.