# Материал для лекций

## Типы данных в питоне

### Числовой тип
числа в питоне означают количественное значение, первый простой тип - int

In [1]:
a = 10
b = 5
type(a),type(b)

(int, int)

С числами можно выполнять различные математические операции.

In [2]:
summ = a+b
multiply = a*b
diff = a-b
quotient = a/b
degree = a**b

In [3]:
summ,multiply,diff,quotient, degree

(15, 50, 5, 2.0, 100000)

Не всегда результатом целочисленных выражений будет целое число.

In [4]:
type(summ),type(multiply),type(diff),type(quotient), type(degree)

(int, int, int, float, int)

Тип float - тип данных для вещественных чисел.

In [5]:
a = 0.3
b = 0.5
c = 5

действия над float и int проводятся одинаковые:

In [6]:
summ = a+b+c
multiply = a*b*c
diff = a-b-c
quotient = a/b/c
degree = a**b**c

In [7]:
summ,multiply,diff,quotient, degree

(5.8, 0.75, -5.2, 0.12, 0.9630748444263257)

In [8]:
type(summ),type(multiply),type(diff),type(quotient), type(degree)

(float, float, float, float, float)

In [9]:
float_c = float(c)
print(float_c, type(float_c))

5.0 <class 'float'>

In [10]:
int_c = int(float_c)
print(int_c, type(int_c))

5 <class 'int'>

Из-за представления в памяти компьютера иногда возникают ошибки в вычислениях.

In [11]:
0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1

0.9999999999999999

варианты деления  

/ - обычное деление 

// - деление целочисленное(остаток убирает)

% - деление с остатком

In [12]:
7/3

2.3333333333333335

In [13]:
7//3

2

In [14]:
7%3

1

### Строки

In [15]:
greetings = "Hello! __11234"
print( greetings, type(greetings))

Hello! __11234 <class 'str'>

In [16]:
lol = "lol"
multiply = lol*2
multiply

'lollol'

При выполнении арифметических операций с строками и числами - вылезает ошибка

In [17]:
'2'+ 2

TypeError: can only concatenate str (not "int") to str

Конкатинация строк:

In [19]:
'2' + '2'

'22'

In [20]:
Age = 22
Name = 'Alex'
print("Hi, my name {0}, i'm {1}".format(Name, str(Age)))

Hi, my name Alex, i'm 22

Строки поддерживают индексацию

In [21]:
Name[0]

'A'

Строки поддерживают срезы

In [22]:
Name[1:3]

'le'

Строки поддеживают форматированный срез: [Начало: конец: шаг]

In [23]:
Name[0:4:2]

'Ae'

### Списки

Списки - сложный тип данных,

In [24]:
list1 = [1,2,3,4,90.5,"lol"]
list1

[1, 2, 3, 4, 90.5, 'lol']

In [25]:
list2 = list("new list")
list2

['n', 'e', 'w', ' ', 'l', 'i', 's', 't']

In [26]:
list3 = "new list".split(" ")
list3

['new', 'list']

### Многомерные списки

Индексация остается как с обычными списками. Но теперь можно хранить список списков.

In [27]:
students = [
    ['Kirill', 22, 'It', 'xd'],
    ['Kate', 22, 'Geo', 'lol'],
    ['Alex', 23, 'History', 'lol2'], 
]

In [28]:
students[1]

['Kate', 22, 'Geo', 'lol']

In [29]:
students[0][0]

'Kirill'

In [30]:
new_string = "hello my dude"
buffer = new_string.split(" ")
buffer

['hello', 'my', 'dude']

In [31]:
print(buffer[0], buffer[0][1])

hello e

In [32]:
print(len(buffer),sorted(buffer))

3 ['dude', 'hello', 'my']

In [33]:
buffer.append("xd")
buffer

['hello', 'my', 'dude', 'xd']

In [34]:
symbol = buffer.pop(2)
print(buffer, symbol)

['hello', 'my', 'xd'] dude

### Словари
Словари - это изменяемый упорядоченный тип данных:

данные в словаре - это пары ключ: значение

доступ к значениям осуществляется по ключу, а не по номеру, как в списках

данные в словаре упорядочены по порядку добавления элементов

так как словари изменяемы, то элементы словаря можно менять, добавлять, удалять

ключ должен быть объектом неизменяемого типа: число, строка, кортеж

значение может быть данными любого типа

In [35]:
london_co = {
    'r1': {
        'hostname': 'london_r1',
        'location': '21 New Globe Walk',
        'vendor': 'Cisco',
        'model': '4451',
        'ios': '15.4',
        'ip': '10.255.0.1'
    },
    'r2': {
        'hostname': 'london_r2',
        'location': '21 New Globe Walk',
        'vendor': 'Cisco',
        'model': '4451',
        'ios': '15.4',
        'ip': '10.255.0.2'
    },
    'sw1': {
        'hostname': 'london_sw1',
        'location': '21 New Globe Walk',
        'vendor': 'Cisco',
        'model': '3850',
        'ios': '3.6.XE',
        'ip': '10.255.0.101'
    }
}

In [36]:
london_co['r2']['ios']

'15.4'

In [37]:
r2 = {
        'hostname': 'london_r2',
        'location': '21 New Globe Walk',
        'vendor': 'Cisco',
        'model': '4451',
        'ios': '15.4',
        'ip': '10.255.0.2'
    }

In [38]:
r2['ip']

'10.255.0.2'

Значения в словаре можно заменять на новые

In [39]:
r2['ip'] = '10.200.0.1'

In [40]:
r2

{'hostname': 'london_r2',
 'location': '21 New Globe Walk',
 'vendor': 'Cisco',
 'model': '4451',
 'ios': '15.4',
 'ip': '10.200.0.1'}

### Кортеж

Грубо говоря, кортеж - это список, который нельзя изменить. То есть, в кортеже есть только права на чтение. Это может быть защитой от случайных изменений. Константный список

In [41]:
tuple1 = tuple()
tuple1

()

In [42]:
tuple2 = ('ip',)
tuple2

('ip',)

In [43]:
list_keys = ['hostname', 'location', 'vendor', 'model', 'ios', 'ip']
tuple_keys = tuple(list_keys)
tuple_keys

('hostname', 'location', 'vendor', 'model', 'ios', 'ip')

In [44]:
tuple_keys[0]

'hostname'

МЫ не можем перезаписывать уже существующее значение в кортежах

In [45]:
tuple_keys[0] = 'new_field'

TypeError: 'tuple' object does not support item assignment

Мы не можем добавлять через Append

In [46]:
tuple_keys.append('new_field')

AttributeError: 'tuple' object has no attribute 'append'

Функция sorted сортирует элементы кортежа по возрастанию и возвращает новый список с отсортированными элементами:

In [47]:
sorted(tuple_keys)

['hostname', 'ios', 'ip', 'location', 'model', 'vendor']

### Множества

Множество - это изменяемый неупорядоченный тип данных. В множестве всегда содержатся только уникальные элементы.

In [48]:
numbers = [10, 20, 30, 40, 100, 10]
sett = set(numbers)
sett

{10, 20, 30, 40, 100}

In [49]:
sett.add(90)
sett

{10, 20, 30, 40, 90, 100}

In [50]:
sett.discard(90)
sett

{10, 20, 30, 40, 100}

In [51]:
10 in sett

True

In [52]:
sett.clear()
sett

set()

In [53]:
10 in sett

False

### Булевы значения

Булевы значения в Python это две константы True и False.

В Python истинными и ложными значениями считаются не только True и False.

* истинное значение:
 * любое ненулевое число
 * любая непустая строка
 * любой непустой объект
* ложное значение:
 * 0
 * None
 * пустая строка
 * пустой объект
 
 
Остальные истинные и ложные значения, как правило, логически следуют из условия.

In [54]:
bool(0),bool(1)

(False, True)

## Задачки

№ 1

Используя подготовленную строку nat, получить новую строку, в которой в имени интерфейса вместо FastEthernet написано GigabitEthernet. Полученную новую строку вывести на стандартный поток вывода (stdout) с помощью print.

In [55]:
nat = "ip nat inside source list ACL interface FastEthernet0/1 overload"

№ 2

Получить из строки config такой список VLANов:

['1', '3', '10', '20', '30', '100']

Записать итоговый список в переменную result. (именно эта переменная будет проверяться в тесте)

Полученный список result вывести на стандартный поток вывода (stdout) с помощью print. Тут очень важный момент, что надо получить именно список (тип данных), а не, например, строку, которая похожа на показанный список.

In [56]:
config = "switchport trunk allowed vlan 1,3,10,20,30,100"

№ 3

Обработать строку ospf_route и вывести информацию на стандартный поток вывода в виде словаря:

Prefix                10.0.24.0/24

AD/Metric             110/41

Next-Hop              10.0.13.3

Last update           3d18h

Outbound Interface    FastEthernet0/0

In [57]:
ospf_route = "10.0.24.0/24 [110/41] via 10.0.13.3, 3d18h, FastEthernet0/0"